
@inject SignInManager<WebApp.Models.ApplicationUser> signInManager;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <script src="~/jquery/jquery.js"></script>
        <script src="~/jquery-validation/jquery.validate.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <!--Datatables css-->
    <link href="~/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <!--Bootstrap css-->
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <nav>
            <div class="logo">
                <a asp-action="index" asp-controller="home">
                    <img width="40" src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/users_group_people_friends-512.png" />
                </a>
            </div>
            <ul id="nav-links" class="nav-links">
                <li><a asp-action="index" asp-controller="employee">Employees</a></li>
                <li><a asp-action="index" asp-controller="department">Departments</a></li>
                <div class="dropdown">
                    <a class="dropbtn dropdown-toggle">Manage</a>
                    <div class="dropdown-content">
                        <a asp-action="users" asp-controller="administration" >Users</a>
                        <a asp-action="roles" asp-controller="administration">Roles</a>
                    </div>
                </div>

            </ul>
            <ul class="nav-links-2">

                <li>
                    <form method="post" asp-controller="account" asp-action="logout" style="display:flex;">
                        <button style="background-color:transparent;border:0; color:white;">
                            Logout @User.Identity.Name
                        </button>
                    </form>
                </li>
            </ul>

            <div class="toggle-button">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    }
    else if (signInManager.IsSignedIn(User))
    {
        <nav>
            <div class="logo">
                <a asp-action="index" asp-controller="home">
                    <img width="40" src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/users_group_people_friends-512.png" />
                </a>
            </div>
            <ul id="nav-links" class="nav-links">
                <li><a asp-action="index" asp-controller="employee">Employees</a></li>
                <li><a asp-action="index" asp-controller="department">Departments</a></li>

            </ul>
            <ul class="nav-links-2">

                <li>
                    <form method="post" asp-controller="account" asp-action="logout" style="display:flex;">
                        <button style="background-color:transparent;border:0; color:white;">
                            Logout @User.Identity.Name
                        </button>
                    </form>
                </li>
            </ul>

            <div class="toggle-button">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    }
    else
    {
        <nav>
            <div class="logo">
                <a asp-action="index" asp-controller="home">
                    <img width="40" src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/users_group_people_friends-512.png" />
                </a>
            </div>
            <ul class="nav-links-2">
                <li><a asp-action="register" asp-controller="account">Register</a></li>
            </ul>


            <div class="toggle-button">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    }

    <div>
        @RenderBody()
    </div>
    <!-- JS dependencies BOOTOX  -->
    <script src="~/bootbox.js/bootbox.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>

    <!--Jquery-->
    <script src="~/jquery/jquery.js"></script>

    <!--Datatables jquery-->
    <script src="~/datatables/js/jquery.dataTables.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>

<script>
    $(document).ready(function () {
        $(".toggle-button").on("click", function () {
            $(this).toggleClass("toggle .line1");
            $(this).toggleClass("toggle .line2");
            $(this).toggleClass("toggle .line3");
            $(".nav-links").toggleClass("nav-active");
            $(".toggle-button").toggleClass("change-color");
        });
    });
</script>
